<!-- Countdown -->
    <div class="mx-auto mt-16">
        <div class="grid grid-cols-2 lg:grid-cols-4 gap-4 sm:grid-cols-2 sm:gap-2" x-data="timer(new Date('2023-12-01 00:00:00'))" x-init="init();">
            <div class="flex flex-col items-center px-4">
                <span x-text="time().days" class="text-3xl">00</span>
                <span class="text-gray-400 mt-2 text-4xl text-2xl">Days</span>
            </div>
            <div class="flex flex-col items-center px-4">
                <span x-text="time().hours" class="text-3xl">00</span>
                <span class="text-gray-400 mt-2 text-2xl">Hours</span>
            </div>
            <div class="flex flex-col items-center px-4">
                <span x-text="time().minutes" class="text-3xl">00</span>
                <span class="text-gray-400 mt-2 text-4xl text-2xl">Minutes</span>
            </div>
            <div class="flex flex-col items-center px-4">
                <span x-text="time().seconds" class="text-3xl">00</span>
                <span class="text-gray-400 mt-2 text-2xl">Seconds</span>
            </div>
        </div>                      
    </div>
    <script>
        function timer(expiry) {
            return {
                expiry: expiry,
                remaining:null,
                init() {
                this.setRemaining()
                setInterval(() => {
                    this.setRemaining();
                }, 1000);
                },
                setRemaining() {
                const diff = this.expiry - new Date().getTime();
                this.remaining =  parseInt(diff / 1000);
                },
                days() {
                return {
                    value:this.remaining / 86400,
                    remaining:this.remaining % 86400
                };
                },
                hours() {
                return {
                    value:this.days().remaining / 3600,
                    remaining:this.days().remaining % 3600
                };
                },
                minutes() {
                    return {
                    value:this.hours().remaining / 60,
                    remaining:this.hours().remaining % 60
                };
                },
                seconds() {
                    return {
                    value:this.minutes().remaining,
                };
                },
                format(value) {
                return ("0" + parseInt(value)).slice(-2)
                },
                time(){
                    return {
                    days:this.format(this.days().value),
                    hours:this.format(this.hours().value),
                    minutes:this.format(this.minutes().value),
                    seconds:this.format(this.seconds().value),
                }
                },
            }
        }
    </script>
